<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- ukid 初始化-->
    <bean id="UKIDInitialize" class="cn.itbat.thing.anyway.service.UKIDInitialize" lazy-init="true" scope="singleton"/>

    <bean id="syNextNumberService" class="cn.itbat.thing.anyway.service.impl.SyNextNumberServiceImpl" scope="singleton"/>

</beans>